.card {
  background-color: transparent;
  overflow: hidden;
  border: none;
  border-bottom: 0.5px solid #a5a5a5;
  z-index: 10000;
padding: 0px 20px;

  // &:hover {
  //   background-color: #78d7e6;
  //   border-radius: 10px;

  // }

  @media only screen and (max-width: 1000px) {
    width: 100%;
  }

  &:last-child {
    margin-bottom: 0;
  }
  th {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header {
    img {
      height: 16px;
      width: 16px;
    }

    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    transition: 0.3s;
    height: 60px;


    z-index: 1000;

    font-family: "Plus Jakarta Sans", sans-serif;
    color: #493e36;
    letter-spacing: 0.2px;
    font-size: 15px;
    font-weight: 300;
    line-height: 130%;



    @media only screen and (max-width: 600px) {
      width: 100%;
      font-size: 14px;
    }
  }

  .motionContent {
    overflow: hidden;
  }

  .content {

    padding: 45px 0;

    font-family: "Plus Jakarta Sans", sans-serif;
    color: #493e36;
    letter-spacing: 0.2px;
    font-size: 15px;
    font-weight: 300;
    line-height: 130%;
  }
}
