.card {
  background-color: transparent;
  // padding: 10px 30px;
  overflow: hidden;
  border: none;
  border-bottom: 0.5px solid #a5a5a5;
  z-index: 10000;

  @media only screen and (max-width: 1000px) {
    width: 100%;

    // padding: 10px 0px;
  }

  &:last-child {
    margin-bottom: 0;
  }
  th {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header {
    img {
      height: 16px;
      width: 16px;
    }

    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    transition: 0.3s;
    height: 60px;
    font-family: var(--font-montserrat) !important;
    color: #4c4c4c;
    letter-spacing: 0.5px;
    font-style: normal;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    // line-height: 25px;
    z-index: 1000;

    // @media only screen and (max-width: 1000px) {
    //   line-height: 23px;
    // }

    @media only screen and (max-width: 600px) {
      width: 100%;
      font-size: 14px;
    }
  }

  .motionContent {
    overflow: hidden;
  }

  .content {
    font-family: var(--font-montserrat) !important;
    color: #676565;
    letter-spacing: 0.5px;
    font-style: normal;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    padding: 55px 0;
  }
}
