.section {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  align-items: center;
  z-index: 2000 !important;

  .container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    max-width: 1600px;

    @media only screen and (max-width: 1000px) {
      flex-direction: column-reverse;
      align-items: center;
    }

    @media only screen and (max-width: 600px) {
      width: 95%;
    }
  }

  .left {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px 0px;
    margin-top: 140px;
    img {
      z-index: 1000;
      margin-top: 30px;
      height: auto;
      width: 90%;
    }
    @media only screen and (max-width: 1000px) {
      width: 100%;
      padding: 20px 0px;
      margin-top: 40px;
      align-items: center;

      img {

        height: auto;
        width: 100%;
      }
    }
  }

  .right {
    display: flex;
    width: 50%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    padding: 150px 0px;

    .imagecontainer {
      display: flex;

      img {
        z-index: 1000;
        margin-top: 60px;
        margin-left: 60px;
      }
    }

    @media only screen and (max-width: 1000px) {
      width: 100%;
      padding: 40px 0px;
      align-items: center;
      background-color: white;
      margin-top: 100px;


      img {
        margin-left: 0px;
   
      }
    }

    @media only screen and (max-width: 600px) {
      img {
  
        height: 400px;
        width: auto;
   
      }
    }
  }

  h6 {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #493e36;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 40px;
    @media only screen and (max-width: 1000px) {
      font-size: 13px;
    }
  }

  h3 {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #44b9cc;
    letter-spacing: 1px;
    font-size: 38px;
    font-weight: 300;
    max-width: 600px;

  }

  .subtitle {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #44b9cc;
    letter-spacing: 1px;
    font-size: 38px;
    font-weight: 300;
    max-width: 600px;
  }

  p {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #493e36;
    letter-spacing: 0.2px;
    font-size: 20px;
    font-weight: 100;
    line-height: 120%;
    max-width: 500px;
  }

  .p1 {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 18px;
  }
  .p3 {
    text-decoration: underline;
    margin-top: 30px;
    margin-bottom: 18px;
  }

  .buttoncontainer {
    margin-top: 30px;
    width: 180px;

    @media only screen and (max-width: 1000px) {
      // width: 150px;
    }
    @media only screen and (max-width: 600px) {
      width: 13 0px;
    }
  }
}
