.footerContainer {
    position: relative;
    height: 650px !important;

    // z-index: -1;
    // clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
    // clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);

  }
  
  .innerContainer {
    position: fixed;
    bottom: 0;
    height: 650px;
    width: 100%;
    left: 0;
    // z-index: -1;
  }
  
