.section {
  width: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/backgrounds/backcover.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: 70px;
  padding-top: 50px;

}

.container {
  height: auto;
  width: 95%;
  display: flex;
  margin-bottom: 200px;
  max-width: 1600px;

  @media only screen and (max-width: 1000px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  @media only screen and (max-width: 600px) {
  }

  .right {
    display: flex;
    width: 40%;
    @media only screen and (max-width: 1000px) {
      width: 90%;
    }
  }

  .left {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: space-between;
    @media only screen and (max-width: 1000px) {
      width: 90%;
      justify-content: center;
      align-items: center;
    }

    h6 {
      font-family: "Plus Jakarta Sans", sans-serif;
      color: #493e36;
      letter-spacing: 1px;
      font-size: 15px;
      font-weight: 400;
    }

    h3 {
      font-family: "Plus Jakarta Sans", sans-serif;
      color: #44b9cc;
      letter-spacing: 1px;
      font-size: 38px;
      font-weight: 300;
      max-width: 550px;
      margin-top: 50px;
      margin-bottom: 50px;
      @media only screen and (max-width: 1000px) {
        text-align: center;
      }
    }

    p {
      font-family: "Plus Jakarta Sans", sans-serif;
      color: #493e36;
      font-size: 15px;
      font-weight: 300;
    }

    .buttoncontainer {
      width: 200px;

      
    }

    .address {
      margin-top: 50px;
    }

    .contactlinkcontainer {
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 30px;
      padding: 15px 20px;
      width: 300px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: background-color 0.4s, color 0.4s; /* Añade la transición aquí */
    
      p {
        font-family: "Plus Jakarta Sans", sans-serif;
        color: #493e36;
        font-size: 15px;
        font-weight: 300;
      }
    
      img {
        margin-left: 20px;
      }
    
      &:hover {
        background-color: #44b9cc;
        p {
          color: white;
        }
      }
    }
  }
}
