.footersection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-color: #44b9cc;
  border-radius: 30px;
  color: white;
  margin-top: -40px;
  z-index: 700;

  @media only screen and (max-width: 1000px) {
    height: auto;
  }

  .footercontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
    width: 95%;
    max-width: 1600px;

    .infocontainer {
      display: flex;
      @media only screen and (max-width: 1000px) {
        flex-direction: column;
        height: auto;
        align-items: center;
      }

      .left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        height: 100%;
        @media only screen and (max-width: 1000px) {
          width: 80%;
          text-align: center;
          justify-content: center;
          align-items: center;
        }

        .top {
          margin-top: 20px;
          display: flex;
          flex-direction: column;

          @media only screen and (max-width: 1000px) {
            align-items: center;
            margin-bottom: 40px;
          }
          .buttoncontainer {
            height: auto;
            width: 200px;
            margin-top: 30px;
          }

          h3 {
            font-family: "Plus Jakarta Sans", sans-serif;

            letter-spacing: 1px;
            font-size: 38px;
            font-weight: 300;
            max-width: 600px;
            @media only screen and (max-width: 1000px) {
              font-size: 30px;
            }
          }
        }
      }

      .right {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 50%;
        height: 100%;
        margin-top: 20px;

        @media only screen and (max-width: 1000px) {
          text-align: center;
          justify-content: center;
          width: 80%;
        }

        @media only screen and (max-width: 500px) {
          width: 100%;
          flex-direction: column;
          align-items: center;
          margin-top: 0px;
        }

        h6 {
          font-family: "Plus Jakarta Sans", sans-serif;

          letter-spacing: 1px;
          font-size: 15px;
          font-weight: 400;

          margin-bottom: 20px;
          text-decoration: underline;
          padding-bottom: 3px;

          @media only screen and (max-width: 1000px) {
            font-size: 13px;
            text-align: start;
          }
        }

        p {
          font-family: "Plus Jakarta Sans", sans-serif;
          font-size: 15px;
          font-weight: 300;
          margin-bottom: 10px;
          text-align: start;
        }

        .col1 {
          display: flex;
          flex-direction: column;

          width: 300px;
  
        }

        .col2 {
          display: flex;
          flex-direction: column;

          width: 150px;
          margin-left: 50px;

          @media only screen and (max-width: 1000px) {
            display: none;
          }
        }
      }
    }

    .rightscontainer {
      width: 100%;
      display: flex;
      border-top: 1px solid white;

      @media only screen and (max-width: 1000px) {
        justify-content: center;
        margin-top: 40px;
        text-align: center;
      }

      .bottom {
        margin-top: 15px;
        margin-bottom: 15px;

        p {
          font-family: "Plus Jakarta Sans", sans-serif;

          font-size: 15px;
          font-weight: 300;
          margin-bottom: 5px;

        }
      }
    }

    .contactlinkcontainer {
      width: auto;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      color: white;

      cursor: pointer;

      &:hover {
        scale: 1.05;
      }

      img {
        margin-left: 10px;
        margin-top: -10px;
        height: 10px;
      }

      .logo {

        height: 20px;
        width: 20px;
        margin-right: 10px;
      }
    }
  }
}
