


  .customersSection {
    height: 60vh;
    width: 100%;
    margin: auto;
    overflow: hidden;
    z-index: 30;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    z-index: 10 ;
    background-color: #F9F8F7;
    border-bottom-left-radius: 30px; 
    border-bottom-right-radius: 30px; 
    z-index: 700;
    max-width: 2500px;
    padding-bottom: 100px;
    padding-top: 50px;

  }
  
  .customersContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding-top: 5px;
  
    @media only screen and (max-width: 850px) {
      flex-direction: column;
    }
  


    img {
      padding: 0 20px;
      height: 280px;
      width: 500px;
      opacity: 0.85;
    }
  }