.animated {
    .inside {
      display: inline-block;
      font-family: "Plus Jakarta Sans", sans-serif;
      // color: #493e36;
      font-size: 15px;
      font-weight: 300;
      margin-top: 30px;
      margin-bottom: 20px;
      color: #44b9cc;
      font-weight: 400;
    }


  
 
  }