.languageSwitcher {
    display: flex;
    align-items: center;
    font-size: 12px; /* Adjust the font size as needed */
    cursor: pointer;
    background-color: #44B9CC;
    border-radius: 30px;
    width: 100px;
    justify-content: center;
    z-index: 2000;
  }
  
  .languageOption {
    padding: 5px 10px; /* Adjust the padding as needed */
    color: white;
    transition: color 0.3s ease;
    position: relative;
    z-index: 2000;
  }
  
  .languageOption:hover {
   font-weight: 700;
  }
  
  .separator {
    padding: 0 2px;
    color: white;
  }
  
  .selected::after {
    content: '';
    display: block;
    width: 100%; /* Shorter underline */
    height: 2px;
    background-color: white;
    margin: 0 auto;
    margin-top: 2px; /* Adjust the spacing from the text */
  }