

.languageSwitcher {
  display: flex;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
  border: 0.5px solid grey;
  border-radius: 30px;
  width: 90px;
  justify-content: center;
  z-index: 2000;
  height: 30px;
  margin-top: 8px;
  background-color: transparent;
}

.languageOption {
  padding: 5px 10px;
  color: black;
  position: relative;
  z-index: 2000;

}



.selected {
  background-color: #44b9cc;
  color: white;
  border-radius: 30px;
  font-weight: 700;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
