.numberscontainer {

  display: flex;
  width: 90%;
  height: 200px;
  background-color: #d3e7ed;
  border-radius: 30px;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  margin-bottom: 50px;

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between !important;
    margin-top: -20px;

    h4 {
      margin-bottom: 20px;
    }

    p {
      font-size: 55px;
      font-weight: 300;
    }
  }
}
