.menu {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: #f9f8f7;
  color: #4a4747;
  z-index: 1000;
  border-radius: 30px;
  background-color: rgba(
    255,
    255,
    255,
    0.97
  ); /* Color blanco con 80% de opacidad */
  backdrop-filter: blur(10px); /* Aplica un desenfoque de fondo */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .body {
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .nav {
      display: flex;
      flex-direction: column;
      font-size: 30px;
      gap: 20px;
      width: 250px;
      margin-top: 50px;
      .header {
        color: rgb(153, 153, 153);
        border-bottom: 1px solid rgb(153, 153, 153);
        text-transform: uppercase;
        font-size: 11px;
        margin-bottom: 20px;
      }
      .langcontainer {
        position: absolute;
        top: 80px;
        left: 50px;
      }
      .headercontact {
        color: rgb(153, 153, 153);
        border-bottom: 1px solid rgb(153, 153, 153);
        text-transform: uppercase;
        font-size: 11px;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .contacttext {
        font-family: "Plus Jakarta Sans", sans-serif;
        color: #493e36;
        letter-spacing: 1px;
        font-size: 17px;
        font-weight: 300;
      }

      a {
        text-decoration: none;
      }
    }

    .footer {
      display: flex;
      justify-content: space-between;
      gap: 40px;
      font-size: 12px;
      margin-top: 100px;
    }
  }

  @media (max-width: 600px) {
    width: 100%; // Asegúrate de que el menú ocupe el 100% del ancho en pantallas pequeñas
    right: 0;
    border-radius: 0;
    .body {
      padding: 100px 50px;

      .nav {
        width: 100%; // Ajusta el ancho del contenedor nav
      }
    }
  }
}
