.section {
  height: 85vh;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(68, 185, 204, 0.85);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  max-height: 800px;

  @media only screen and (max-width: 1000px) {
    height:auto;
 padding-bottom: 50px;
    
  }

  .container {
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 1600px;
    max-height: 800px;

    @media only screen and (max-width: 1000px) {
      flex-direction: column;
      align-items: center;
   
      
    }

    .top {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 10%;
      z-index: 10;
  

      h6 {
        font-family: "Plus Jakarta Sans", sans-serif;
        color: #ffffff;
        letter-spacing: 1px;
        font-size: 15px;
        font-weight: 400;
        margin-top: 30px;
      }

    }

    .bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      height: 90%;


      .left {
        display: flex;
        width: 50%;
        height: 100%;
        padding-top: -30px;
        @media only screen and (max-width: 1000px) {
          width: 100%;
          padding-top: 0px;
        }
    
    
      }
      .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        height: 95%;
        padding: 20px 0px;
        @media only screen and (max-width: 1000px) {
          display: none;
        }

        .p1 {
          font-family: "Plus Jakarta Sans", sans-serif;
          font-weight: 200;
          font-size: 16px;
          color: #ffffff;
          max-width: 350px;
        }
        .p2 {
          font-family: "Plus Jakarta Sans", sans-serif;
          font-weight: 400;
          font-size: 15px;
          color: #ffffff;
          max-width: 350px;
        }


      h3 {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 200;
        font-size: 40px;
        color: #ffffff;
        margin-top: 20px;
      }

      p {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 200;
        font-size: 18px;
        color: #ffffff;
      }


        .buttonscontainer{
          display: flex;
          justify-content: flex-start;
          align-items: center;

          width: 100%;
        }
        .buttoncontainer{
          margin-top: 50px;
          width: 150px;
        }

        .circle{
          background-color: white;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          margin-top: 50px;
          margin-left: 20px;
        }
      }
    }
  }

  .rightstext{
    color:white;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 200;
    font-size: 14px;
    color: #ffffff;
    margin-top: 20px;
  }
}
