.link {
    position: relative;
    display: flex;
    align-items: center;
  
    .el {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
    }
  
    .indicator {
      width: 5px;
      height: 5px;
      background-color: #44b9cc;
      border-radius: 50%;
      position: absolute;
      left: -20px; /* Ajusta esto según la distancia que desees del texto */
      top: 50%;
      transform: translateY(-10%) scale(0);
      transition: transform 0.2s cubic-bezier(0.76, 0, 0.24, 1);
    }
  
    &:hover .indicator {
      transform: translateY(-10%) scale(1);
    }
  
    p {
      color: black;
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 14px;
    }
  }