

.intro {

  margin-top: 70px;
  border-radius: 30px;
  background-color: red;
  height: 90vh;
}

.backgroundImage {
  width: 100%;
  height: 90vh;
  position: relative;
  top: 0;
  border-radius: 30px;

}

.backgroundImage img {
  object-fit: cover;
}

.introContainer {
  margin-top: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.introContainer h1 {
  z-index: 3;
  color: white;
  font-size: 7vw;
  text-transform: uppercase;
}

.introImage {
  position: absolute;
  width: 350px;
  height: 475px;
background-color: violet;
}

.introImage img {
  object-fit: cover;
  object-position: top;
}


